.x
{
    margin-left: 33%;
    margin-top: 10%;
    width: 30%;
    height: 40%;
    margin-bottom: 10%;
}
.title
{
    text-align: center;
    font-weight: bold;
    height: 10%;
    padding: 2%;
    background-color: rgb(102, 12, 220);
    color: white;
    margin-bottom: 10%;
}
.example-form
{
   text-align: center;
}
.btn
{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 25%;
}
.btn1
{
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 10%;
}